body, html {
  margin: 0;
  padding: 0
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
}

.MicroFrontend {
  background-color: #3498db;
  color: #fff;
  height: calc(50vh - 20px); /* Set height to 50% of viewport height */
  margin: 10px !important;

  overflow: scroll;
}

.MicroFrontend:nth-child(even) {
  background-color: #2ecc71;
}